
<h1>SIGN IN</h1>

<<%= form_for @user do |f| %>
  <p>
    <%= f.label :user_name %>
    <%= f.text_field :user_name %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<body style="background-color:rgb(105,150,150)"></body>