 
 <%= form_tag @user, url: edit_reset_password_path do %>
 <%= label_tag :email,"Registered Email:" %><br/>
 <%= text_field_tag :email,nil, autocomplete: :off %><br/>
 <%= label_tag :security_check, "What is your Mom's birth year" %><br/>
 <%= text_field_tag :security_check,nil, autocomplete: :off %><br/>
 <%= submit_tag "Submit" %>
 <% end %>

 <body style="background-color:rgb(101,200,150)"></body>