<%= link_to "Logout!", logout_path %>
<center>
<h3><%= link_to "My Profile", user_path(current_user) %></h3>

<h1> Find Friends: </h1>
	

<table id="book" border="3" layout= "fixed" width=" 70%">

<% @users.each do |f| %>
 <tr> 
  <td><%= f.first_name %>
  <%= f.last_name %>
  <%= link_to "Add Friend", friendships_create_path(friend_id: f) %></td>
</tr>
<% end %>
</center>



<body style="background-color:rgb(255,150,150)"></body>